<div class="bottom-panel">
  <div class="container-fluid">
    <div class="row bottom-container">
        <div class="col-xs-8 bottom-info">
          <div class="row">
            <div class="col-xs-6"><span class="bif-in">收入:</span></div>
            <div class="col-xs-6"><span class="bif-out">支出:</span></div>
          </div>
          <div class="row">
            <div class="col-xs-6"><span class="bif-n-in">未出:</span></div>
            <div class="col-xs-6"><span class="bif-n-out">未入:</span></div>
          </div>
        </div>
        <div class="col-xs-4 bottom-opt">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default idx" id="static-today">1</button>
            <button type="button" class="btn" id="static-half-month">15</button>
            <button type="button" class="btn" id="static-month">30</button>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="bottom-padding"></div>